@tailwind base;
@tailwind components;
@tailwind utilities;

th,
td {
	@apply border border-zinc-500 bg-gray-800 p-1 px-1.5;
}

input[type='date'] {
	@apply ml-auto block w-full rounded-xl bg-gray-800 text-center text-sm;
}

input[type='number'] {
	@apply bg-gray-800;
}

#inputs label span {
	@apply pl-2 text-sm;
}

@layer base {
	@font-face {
		font-family: Inter;
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/Inter-Regular.woff2') format('woff2');
	}
	@font-face {
		font-family: Inter;
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url('/fonts/Inter-Medium.woff2') format('woff2');
	}
	@font-face {
		font-family: Inter;
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url('/fonts/Inter-Bold.woff2') format('woff2');
	}
}
